In [4]:
import quandl

In [28]:
df = quandl.get("WIKI/GOOGL")
df.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2004-08-19,100.01,104.06,95.96,100.335,44659000.0,0.0,1.0,50.159839,52.191109,48.128568,50.322842,44659000.0
2004-08-20,101.01,109.08,100.50,108.310,22834300.0,0.0,1.0,50.661387,54.708881,50.405597,54.322689,22834300.0
2004-08-23,110.76,113.48,109.05,109.400,18256100.0,0.0,1.0,55.551482,56.915693,54.693835,54.869377,18256100.0
2004-08-24,111.24,111.60,103.57,104.870,15247300.0,0.0,1.0,55.792225,55.972783,51.945350,52.597363,15247300.0
2004-08-25,104.76,108.00,103.88,106.000,9188600.0,0.0,1.0,52.542193,54.167209,52.100830,53.164113,9188600.0

In [29]:
df.describe()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
count,3398.000000,3398.000000,3398.000000,3398.000000,3.398000e+03,3398.000000,3398.0,3398.000000,3398.000000,3398.000000,3398.000000,3.398000e+03
mean,592.669395,598.064615,586.723760,592.455830,7.862002e+06,0.167149,1.0,403.854489,407.357607,399.961688,403.727754,7.862002e+06
std,223.320725,224.023763,222.337888,223.302759,8.264511e+06,9.743500,0.0,251.374858,252.775053,249.724891,251.399662,8.264511e+06
min,99.090000,101.740000,95.960000,100.010000,5.211410e+05,0.000000,1.0,49.698414,51.027517,48.128568,50.159839,5.211410e+05
25%,460.032500,464.490000,455.000000,459.752500,2.462148e+06,0.000000,1.0,230.728487,232.964138,228.204445,230.588053,2.462148e+06
50%,563.645000,568.740000,558.525000,563.770000,5.114100e+06,0.000000,1.0,299.068195,301.084419,296.833797,298.834975,5.114100e+06
75%,731.705000,736.000000,722.247300,730.052500,1.035755e+07,0.000000,1.0,558.687309,562.216676,554.165000,558.245000,1.035755e+07
max,1226.800000,1228.880000,1218.600000,1220.170000,8.215110e+07,567.971668,1.0,1188.000000,1198.000000,1184.060000,1187.560000,8.215110e+07

In [30]:
del df['Open']
del df['High']
del df['Low']
del df['Close']
del df['Ex-Dividend']
del df['Split Ratio']

In [31]:
df.head()

,Volume,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,
2004-08-19,44659000.0,50.159839,52.191109,48.128568,50.322842,44659000.0
2004-08-20,22834300.0,50.661387,54.708881,50.405597,54.322689,22834300.0
2004-08-23,18256100.0,55.551482,56.915693,54.693835,54.869377,18256100.0
2004-08-24,15247300.0,55.792225,55.972783,51.945350,52.597363,15247300.0
2004-08-25,9188600.0,52.542193,54.167209,52.100830,53.164113,9188600.0

Since open and close are higly correlated, close hata do and percentage change rakh lo....
Like next day ke liye kitna change ho raha hai...

we can even drop high value and low value with % changes

In [32]:
per = 0.2

train = (1-per)*len(df)
test = per*len(df)

In [33]:
df[:3000].shape

(3000, 6)

In [34]:
df

,Volume,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,
2004-08-19,44659000.0,50.159839,52.191109,48.128568,50.322842,44659000.0
2004-08-20,22834300.0,50.661387,54.708881,50.405597,54.322689,22834300.0
2004-08-23,18256100.0,55.551482,56.915693,54.693835,54.869377,18256100.0
2004-08-24,15247300.0,55.792225,55.972783,51.945350,52.597363,15247300.0
2004-08-25,9188600.0,52.542193,54.167209,52.100830,53.164113,9188600.0
2004-08-26,7094800.0,52.637487,54.142132,52.492038,54.122070,7094800.0
2004-08-27,6211700.0,54.217364,54.478169,53.008633,53.239345,6211700.0
2004-08-30,5196700.0,52.802998,52.908323,51.162935,51.162935,5196700.0
2004-08-31,4917800.0,51.318415,52.015567,51.238167,51.343492,4917800.0
2004-09-01,9138200.0,51.509003,51.644421,49.989312,50.280210,9138200.0
2004-09-02,15118600.0,49.698414,51.343492,49.623182,50.912161,15118600.0
2004-09-03,5152400.0,50.631294,51.027517,49.813770,50.159839,5152400.0
2004-09-07,5847500.0,50.661387,51.157920,49.959219,50.947269,5847500.0
2004-09-08,4985600.0,50.525969,51.674514,50.405597,51.308384,4985600.0
2004-09-09,4061700.0,51.408694,51.514019,50.656371,51.313400,4061700.0
2004-09-10,8698800.0,50.892099,53.444980,50.806836,52.828075,8698800.0
2004-09-13,7844100.0,53.480088,54.372844,53.394825,53.916435,7844100.0
2004-09-14,10828900.0,53.886342,56.173402,53.560336,55.917612,10828900.0
2004-09-15,10713000.0,55.451172,57.291854,55.270615,56.173402,10713000.0
2004-09-16,9266300.0,56.343928,58.079285,55.997860,57.161452,9266300.0
2004-09-17,9472500.0,57.387149,58.926902,56.950802,58.926902,9472500.0
2004-09-20,10628700.0,58.656066,60.988265,58.565787,59.864797,10628700.0
2004-09-21,7228700.0,60.286097,60.396438,58.936933,59.102444,7228700.0
2004-09-22,7581200.0,58.906840,60.020277,58.585849,59.373280,7581200.0
2004-09-23,8535600.0,59.603992,61.504860,58.691174,60.597057,8535600.0
2004-09-24,9123400.0,60.672290,62.242136,60.065416,60.100525,9123400.0
2004-09-27,7066100.0,59.965107,60.627150,59.082382,59.313094,7066100.0
2004-09-28,16929000.0,60.762568,63.897245,60.291113,63.626409,16929000.0
2004-09-29,30516400.0,63.460898,67.719042,63.310433,65.742942,30516400.0
2004-09-30,13758000.0,65.150614,66.354831,64.699722,65.000651,13758000.0
...,...,...,...,...,...,...
2018-01-05,1493389.0,1103.450000,1113.580000,1101.800000,1110.290000,1493389.0
2018-01-08,1148958.0,1111.000000,1119.160000,1110.000000,1114.210000,1148958.0
2018-01-09,1335995.0,1118.440000,1118.440000,1108.200000,1112.790000,1335995.0
2018-01-10,1027781.0,1107.000000,1112.780000,1103.980000,1110.140000,1027781.0
2018-01-11,1102461.0,1112.310000,1114.850000,1106.480000,1111.880000,1102461.0
2018-01-12,1914460.0,1110.100000,1131.300000,1108.010000,1130.650000,1914460.0
2018-01-16,1783881.0,1140.310000,1148.880000,1126.660000,1130.700000,1783881.0
2018-01-17,1353097.0,1136.360000,1139.320000,1123.490000,1139.100000,1353097.0
2018-01-18,1333633.0,1139.350000,1140.590000,1124.460000,1135.970000,1333633.0
2018-01-19,1418376.0,1138.030000,1143.780000,1132.500000,1143.500000,1418376.0
2018-01-22,1437954.0,1143.820000,1166.880000,1141.820000,1164.160000,1437954.0
2018-01-23,1832126.0,1170.620000,1178.510000,1167.250000,1176.170000,1832126.0
2018-01-24,1818182.0,1184.980000,1187.050000,1167.400000,1171.290000,1818182.0
2018-01-25,1398961.0,1180.710000,1185.000000,1171.840000,1182.140000,1398961.0
2018-01-26,1981476.0,1187.530000,1187.560000,1168.030000,1187.560000,1981476.0
2018-01-29,1533931.0,1188.000000,1198.000000,1184.060000,1186.480000,1533931.0
2018-01-30,1792602.0,1177.720000,1187.930000,1174.510000,1177.370000,1792602.0
2018-01-31,1643877.0,1183.810000,1186.320000,1172.100000,1182.220000,1643877.0
2018-02-01,2774967.0,1175.990000,1187.450000,1169.360000,1181.590000,2774967.0
2018-02-02,5798880.0,1127.420000,1131.300000,1111.170000,1119.200000,5798880.0
2018-02-05,3742469.0,1100.610000,1114.990000,1056.740000,1068.760000,3742469.0
2018-02-06,3732527.0,1033.980000,1087.380000,1030.010000,1084.430000,3732527.0
2018-02-07,2544683.0,1084.970000,1086.530000,1054.620000,1055.410000,2544683.0
2018-02-08,3067173.0,1059.870000,1063.930000,1005.120000,1005.600000,3067173.0
2018-02-09,4436032.0,1025.880000,1051.720000,997.000000,1043.430000,4436032.0
2018-02-12,2796258.0,1056.670000,1065.570000,1045.490000,1054.560000,2796258.0
2018-02-13,1574121.0,1050.000000,1061.220000,1046.920000,1054.140000,1574121.0
2018-02-14,2029979.0,1054.320000,1075.470000,1049.800000,1072.700000,2029979.0
2018-02-15,1806206.0,1083.450000,1094.100000,1067.230000,1091.360000,1806206.0
2018-02-16,1971928.0,1093.380000,1108.310000,1091.550000,1095.500000,1971928.0